{% extends "templates/base.html" %}

{% load static %}

{% block endjs %}
<script src="{% static "dist/js/advertising/EditSalesperson.js" %}"></script>
{% endblock %}

{% block page-header %}<i class="fa fa-bullhorn"></i> Advertising{% endblock %}

{% block breadcrumb %}
<li class="active">Advertising</li>
{% endblock %}

{% load static %}

{% block content %}

<div class="advertising-back-image">
    <img src="{% static "svg/campaign_back_img.svg" %}">
</div>

<div id="content">
    <div class="content text-content">
        <h1 style="margin-bottom: 95px; margin-top: 32px">Adertising</h1>
        <div class="card c-card">
            <div class="col-md-12">
                <div class="m-6 text-center">
                    <div class="success-label">Ad Campaign Created!</div>

                    <div id="favoriteIcon1" class="mt-2 adsuccess-mark">
                        <img src="{% static "svg/Vector (2).svg" %}" style="height: 140px; margin-top: 35px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}