{% extends "templates/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "admin/css/advertiser.css" %}">
{% endblock %}

{% block endjs %}
<script src="{% static "dist/js/advertising/classifications/CreateClassification.js" %}"></script>
<script src="{% static "dist/js/advertising/classifications/EditClassification.js" %}"></script>
{% endblock %}

{% block page-header %}<i class="fa fa-bullhorn"></i> Advertising{% endblock %}

{% block breadcrumb %}
<li class="active">Advertising</li>
{% endblock %}

{% block content %}
<div class="advertiser-back-image">
    <img src="{% static "svg/advertiser_back_img.svg" %}">
</div>

<div id="advertiser-content">
    <div class="col-md-12">
        {% if access == "deny" %}
            <div id="message">{{ message }}</div>
        {% else %}
            <div id="message">{{ message }}</div>

            <div class="advertiser-title">
                <span>Rate_Name</span>
            </div>

            <div class="advertiser-info">
                <div class="info-left">
                    <div class="advertiser-item">
                        <label>Status:</label>

                        <p>Active</p>
                    </div>

                    <div class="advertiser-item-group">
                        <div class="advertiser-item market">
                            <label>Price:</label>

                            <p>$5</p>
                        </div>

                        <div class="advertiser-item">
                            <label>Tax Category:</label>

                            <p>None</p>
                        </div>
                    </div>

                    <div class="advertiser-item">
                        <label>Location:</label>

                        <p>prem_backCover</p>
                    </div>

                    <div class="advertiser-item">
                        <label>Hidden:</label>

                        <p>&nbsp;</p>
                    </div>

                    <div class="advertiser-item">
                        <label>Description:</label>

                        <p>Brief description of the</p>
                        <p>rate will go here</p>
                    </div>
                </div>

                <div class="info-right">
                    <div class="advertiser-item">
                        <label>Start/End Date:</label>

                        <p>02-24-2022->03/24/2022</p>
                    </div>

                    <div class="advertiser-item">
                        <label>Unit Type:</label>

                        <p>inch</p>
                    </div>

                    <div class="advertiser-item">
                        <label>Rate Type:</label>

                        <p>Liner</p>
                    </div>

                    <div class="advertiser-item">
                        <label>GL Code:</label>

                        <p>5067-Finance</p>
                    </div>
                    
                    <div id="create-rate" class="advertiser-create" onclick="createAdvertiser()">
                        <a href="{% url 'edit_classified_rate' %}">
                            <i class="fas fa-pencil-alt"></i>Edit Rate
                        </a>
                    </div>
                </div>
            </div>
            <div class="advertiser-option">
            </div>
            <script>
                const createButton = document.querySelector('#create-rate');
    
                     createButton.addEventListener('click', (e) => {
                    if (e.target.checked) {
                        accountDropdown.style.display = "block";
                    } else {
                        accountDropdown.style.display = "none";
                    }
                })
    
            </script>
        {% endif %}
    </div>
</div>
{% endblock %}