.home-content {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.home-header{
    display: flex;
    align-items: end;
    width: 80%;
    margin: auto;
    flex-direction: row;
}

.home-search{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #21215F;
    color: white;
}

.home-main-content {
    width: 80%;
    margin: auto !important;
    margin-top: 15px !important;
}

.activity-sales-content {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border: 1px solid #000;
    max-height: 300px;
    overflow-y: auto;
}

.activity-sales-content::-webkit-scrollbar {
    width: 16px;
}

.activity-sales-content::-webkit-scrollbar-thumb {
    background-color: #21215F;
    border-radius: 33px;
}

.activity-sales-content::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
.sales-content-header {
    display: flex;
    height: 40px;
    border-radius: 3px 3px 0 0;
    background: linear-gradient(0deg, rgba(33, 33, 95, 0.50) 0%, rgba(33, 33, 95, 0.50) 100%), #FFF;

}

.sales-content-header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sales-content-body {
    height: 300px;
    border-radius: 4px;
    border: 1px solid #666;
    background: rgba(243, 243, 243, 0.95);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.table-row {
    height: 48px;
    border-radius: 4px;
    border-bottom: 1px solid #666;
    background: #F3F3F3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
}

.table-column {
    width: 25%;
    display: flex;
    align-items: center;
    color: #000;
    font-family: "Lato", serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
}

.fiter_button{
    background-color: #F26722;
    width: 40px;
    height: 160px;
    font-weight: 700;
    border-radius: 6px 0 0 6px; /* Top-left, Top-right, Bottom-right, Bottom-left */
    border: 1px solid black;
    cursor: pointer;
    writing-mode: vertical-lr;
    text-align: center;
    padding-left: 10px;
    position: fixed;
    right: 0;
    top: 150px;
}

.filter_section{
    display: none;
    width: 260px;
    min-height: 100%;
    position: fixed;
    right: 0;
    top: 52px;
    border: 1px solid #666666;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    
}
.filter_type_section {
    width: 100%;
    border: 1px solid #666666;
    margin-top: 20px;
}

.fliter_checkbox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    margin: 5px;
}

.filter_background{
    width: 100%;
    height: 500px;
    background-color: #F26722;
    opacity: 0.7;
}